div.box {
    width: 35%;
    border: 1px solid pink;
    margin-left: 10px;
    padding: 20px;
    float: left
}

input,
select,
textarea {
    margin: 3px;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid pink
}

img {
    height: 700px;
    width: 1600px;
}

.footer {
    margin-top: 100px;
    padding: 50px;
    text-align: center;
    background: #101010;
    color: white;
}

.loginInput {
    padding: 5px;
    margin: 3px;
}

.logoutLblPos {
    position: fixed;
    right: 10px;
    top: 5px;
}

.not-active {
    /* pointer-events: none; */
    cursor: default;
    color: black;
    text-decoration: none;
}

.not-active:hover {
    /* pointer-events: none; */
    color: inherit;
    /* blue colors for links too */
    /*text-decoration: inherit;*/
    /* no underline */
    /*cursor: default;*/
}


/*delete message*/

#delete_message {
    display: none;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 150px;
    background-color: #ed3d3d;
    text-align: center;
}

#delete_message h2 {
    color: #fff;
}

#delete,
#cancel {
    border: none;
    background: none;
    width: 100px;
    height: 40px;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid white;
    margin: 10px;
    color: #fff;
}

#delete:hover,
#cancel:hover {
    background: #fff;
    color: #ed3d3d;
}

#confirm_message {
    display: none;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 150px;
    background-color: #44b2cc;
    text-align: center;
}
#confirm_message h2 {
    color: #fff;
}
#confirm, #cancel_confirm {
    border: none;
    background: none;
    width: 100px;
    height: 40px;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid white;
    margin: 10px;
    color: #fff;
}
#confirm:hover,
#cancel_confirm:hover {
    background: #fff;
    color: #CED8F6;
}
